# DS-2002 Data Project 1: E-Commerce Sales Analytics
## ETL Pipeline for Dimensional Data Mart

**Business Process:** Online Retail Sales Analysis

### Dimensional Model:
- **Fact Table:** `fact_sales`
- **Dimension Tables:** `dim_date`, `dim_customer`, `dim_product`

**Rest of Documentation at Bottom of the Page**

## 1. Setup and Imports

In [23]:

# !pip install pymysql pandas sqlalchemy requests

In [24]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text
import json
import requests
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

print("All libraries imported successfully!")

All libraries imported successfully!

## 2. Database Connection Setup

In [26]:

DB_HOST = 'localhost' 
DB_USER = 'root'       
DB_PASSWORD = 'Jh290917' 
DB_NAME = 'ecommerce_datamart'


connection_string = f'mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}'


try:
    
    temp_engine = create_engine(f'mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}')
    with temp_engine.connect() as conn:
        conn.execute(text(f"CREATE DATABASE IF NOT EXISTS {DB_NAME}"))
    print(f"Database '{DB_NAME}' created or already exists.")
    
    
    engine = create_engine(connection_string)
    print("Database connection established successfully!")
except Exception as e:
    print(f"Error connecting to database: {e}")

Database 'ecommerce_datamart' created or already exists.
Database connection established successfully!

## 3. Create Sample Source Data

### 3.1 Create Source MySQL Database (Customer Data)

In [27]:

SOURCE_DB = 'source_customer_db'

try:
    temp_engine = create_engine(f'mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}')
    with temp_engine.connect() as conn:
        conn.execute(text(f"CREATE DATABASE IF NOT EXISTS {SOURCE_DB}"))
    print(f"Source database '{SOURCE_DB}' created.")
    
    source_engine = create_engine(f'mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{SOURCE_DB}')
    
    
    create_customer_table = """
    CREATE TABLE IF NOT EXISTS customers (
        customer_id INT PRIMARY KEY,
        first_name VARCHAR(50),
        last_name VARCHAR(50),
        email VARCHAR(100),
        country VARCHAR(50),
        city VARCHAR(50),
        customer_segment VARCHAR(20),
        registration_date DATE
    )
    """
    
    with source_engine.connect() as conn:
        conn.execute(text(create_customer_table))
        conn.commit()
    
    
    customer_data = [
        (1, 'John', 'Smith', 'john.smith@email.com', 'USA', 'New York', 'Premium', '2023-01-15'),
        (2, 'Emma', 'Johnson', 'emma.j@email.com', 'UK', 'London', 'Standard', '2023-02-20'),
        (3, 'Michael', 'Brown', 'm.brown@email.com', 'Canada', 'Toronto', 'Premium', '2023-01-10'),
        (4, 'Sophia', 'Davis', 'sophia.d@email.com', 'USA', 'Los Angeles', 'Standard', '2023-03-05'),
        (5, 'William', 'Garcia', 'w.garcia@email.com', 'Spain', 'Madrid', 'Premium', '2023-01-25'),
        (6, 'Olivia', 'Martinez', 'olivia.m@email.com', 'Mexico', 'Mexico City', 'Standard', '2023-04-12'),
        (7, 'James', 'Wilson', 'james.w@email.com', 'Australia', 'Sydney', 'Premium', '2023-02-08'),
        (8, 'Isabella', 'Anderson', 'isabella.a@email.com', 'USA', 'Chicago', 'Standard', '2023-03-18'),
        (9, 'Benjamin', 'Taylor', 'ben.t@email.com', 'Germany', 'Berlin', 'Premium', '2023-01-30'),
        (10, 'Mia', 'Thomas', 'mia.thomas@email.com', 'France', 'Paris', 'Standard', '2023-05-02')
    ]
    
    insert_query = """
    INSERT IGNORE INTO customers 
    (customer_id, first_name, last_name, email, country, city, customer_segment, registration_date)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    
    with source_engine.connect() as conn:
        for customer in customer_data:
            conn.execute(text(insert_query), customer)
        conn.commit()
    
    print("Customer source data created successfully!")
    
except Exception as e:
    print(f"Error creating source customer data: {e}")

Source database 'source_customer_db' created.
Error creating source customer data: 'Connection' object has no attribute 'commit'

### 3.2 Create CSV File (Sales Transaction Data)

In [28]:

sales_data = {
    'transaction_id': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 
                       1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020],
    'transaction_date': ['2024-01-15', '2024-01-16', '2024-01-18', '2024-01-20', '2024-01-22',
                         '2024-02-01', '2024-02-03', '2024-02-05', '2024-02-10', '2024-02-15',
                         '2024-03-01', '2024-03-05', '2024-03-10', '2024-03-15', '2024-03-20',
                         '2024-04-01', '2024-04-05', '2024-04-10', '2024-04-15', '2024-04-20'],
    'customer_id': [1, 2, 3, 4, 5, 1, 2, 3, 6, 7, 8, 9, 10, 1, 2, 4, 5, 6, 8, 9],
    'product_id': [101, 102, 103, 104, 105, 101, 103, 102, 104, 105, 
                   101, 102, 103, 105, 104, 101, 102, 103, 104, 105],
    'quantity': [2, 1, 3, 1, 2, 1, 2, 1, 4, 1, 2, 3, 1, 2, 1, 3, 1, 2, 1, 2],
    'unit_price': [299.99, 149.99, 79.99, 199.99, 499.99, 299.99, 79.99, 149.99, 199.99, 499.99,
                   299.99, 149.99, 79.99, 499.99, 199.99, 299.99, 149.99, 79.99, 199.99, 499.99],
    'discount_percent': [0, 10, 5, 0, 15, 10, 5, 0, 0, 10, 5, 0, 10, 15, 5, 0, 10, 5, 0, 10],
    'shipping_cost': [15.00, 10.00, 8.00, 12.00, 20.00, 15.00, 8.00, 10.00, 25.00, 20.00,
                      15.00, 12.00, 10.00, 20.00, 12.00, 15.00, 10.00, 8.00, 12.00, 20.00]
}

sales_df = pd.DataFrame(sales_data)
sales_df.to_csv('sales_transactions.csv', index=False)
print("Sales transaction CSV file created successfully!")
print("\nFirst few rows:")
print(sales_df.head())

Sales transaction CSV file created successfully!

First few rows:
   transaction_id transaction_date  customer_id  product_id  quantity  \
0            1001       2024-01-15            1         101         2
1            1002       2024-01-16            2         102         1
2            1003       2024-01-18            3         103         3
3            1004       2024-01-20            4         104         1
4            1005       2024-01-22            5         105         2

   unit_price  discount_percent  shipping_cost
0      299.99                 0           15.0
1      149.99                10           10.0
2       79.99                 5            8.0
3      199.99                 0           12.0
4      499.99                15           20.0

### 3.3 Create JSON File (Product Catalog Data)

In [29]:

product_catalog = {
    "products": [
        {
            "product_id": 101,
            "product_name": "Wireless Headphones",
            "category": "Electronics",
            "subcategory": "Audio",
            "brand": "TechSound",
            "supplier": "Global Electronics Inc",
            "cost_price": 150.00,
            "retail_price": 299.99,
            "in_stock": True
        },
        {
            "product_id": 102,
            "product_name": "Smart Watch",
            "category": "Electronics",
            "subcategory": "Wearables",
            "brand": "FitTech",
            "supplier": "Smart Devices Ltd",
            "cost_price": 75.00,
            "retail_price": 149.99,
            "in_stock": True
        },
        {
            "product_id": 103,
            "product_name": "Bluetooth Speaker",
            "category": "Electronics",
            "subcategory": "Audio",
            "brand": "SoundWave",
            "supplier": "Global Electronics Inc",
            "cost_price": 40.00,
            "retail_price": 79.99,
            "in_stock": True
        },
        {
            "product_id": 104,
            "product_name": "Tablet 10 inch",
            "category": "Electronics",
            "subcategory": "Computers",
            "brand": "TechPad",
            "supplier": "Digital World Corp",
            "cost_price": 100.00,
            "retail_price": 199.99,
            "in_stock": True
        },
        {
            "product_id": 105,
            "product_name": "4K Webcam",
            "category": "Electronics",
            "subcategory": "Accessories",
            "brand": "VisionPro",
            "supplier": "Camera Solutions Inc",
            "cost_price": 250.00,
            "retail_price": 499.99,
            "in_stock": True
        }
    ]
}

with open('product_catalog.json', 'w') as f:
    json.dump(product_catalog, f, indent=2)

print("Product catalog JSON file created successfully!")
print("\nProduct catalog preview:")
print(json.dumps(product_catalog, indent=2)[:500] + "...")

Product catalog JSON file created successfully!

Product catalog preview:
{
  "products": [
    {
      "product_id": 101,
      "product_name": "Wireless Headphones",
      "category": "Electronics",
      "subcategory": "Audio",
      "brand": "TechSound",
      "supplier": "Global Electronics Inc",
      "cost_price": 150.0,
      "retail_price": 299.99,
      "in_stock": true
    },
    {
      "product_id": 102,
      "product_name": "Smart Watch",
      "category": "Electronics",
      "subcategory": "Wearables",
      "brand": "FitTech",
      "supplier": "Smar...

## 4. ETL Process

### 4.1 EXTRACT - Load Data from Multiple Sources

#### Extract from MySQL (Source Database)

In [30]:

def extract_customers_from_mysql():
    query = "SELECT * FROM customers"
    source_engine = create_engine(f'mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{SOURCE_DB}')
    df = pd.read_sql(query, source_engine)
    print(f"Extracted {len(df)} customers from MySQL database")
    return df

customers_df = extract_customers_from_mysql()
print("\nCustomer data preview:")
print(customers_df.head())

Extracted 10 customers from MySQL database

Customer data preview:
   customer_id first_name last_name                 email country  \
0            1       John     Smith  john.smith@email.com     USA
1            2       Emma   Johnson      emma.j@email.com      UK
2            3    Michael     Brown     m.brown@email.com  Canada
3            4     Sophia     Davis    sophia.d@email.com     USA
4            5    William    Garcia    w.garcia@email.com   Spain

          city customer_segment registration_date
0     New York          Premium        2023-01-15
1       London         Standard        2023-02-20
2      Toronto          Premium        2023-01-10
3  Los Angeles         Standard        2023-03-05
4       Madrid          Premium        2023-01-25

#### Extract from CSV File

In [31]:

def extract_sales_from_csv(file_path):
    df = pd.read_csv(file_path)
    print(f"Extracted {len(df)} transactions from CSV file")
    return df

sales_df = extract_sales_from_csv('sales_transactions.csv')
print("\nSales data preview:")
print(sales_df.head())

Extracted 20 transactions from CSV file

Sales data preview:
   transaction_id transaction_date  customer_id  product_id  quantity  \
0            1001       2024-01-15            1         101         2
1            1002       2024-01-16            2         102         1
2            1003       2024-01-18            3         103         3
3            1004       2024-01-20            4         104         1
4            1005       2024-01-22            5         105         2

   unit_price  discount_percent  shipping_cost
0      299.99                 0           15.0
1      149.99                10           10.0
2       79.99                 5            8.0
3      199.99                 0           12.0
4      499.99                15           20.0

#### Extract from JSON File

In [32]:

def extract_products_from_json(file_path):
    with open(file_path, 'r') as f:
        data = json.load(f)
    df = pd.DataFrame(data['products'])
    print(f"Extracted {len(df)} products from JSON file")
    return df

products_df = extract_products_from_json('product_catalog.json')
print("\nProduct data preview:")
print(products_df.head())

Extracted 5 products from JSON file

Product data preview:
   product_id         product_name     category  subcategory      brand  \
0         101  Wireless Headphones  Electronics        Audio  TechSound
1         102          Smart Watch  Electronics    Wearables    FitTech
2         103    Bluetooth Speaker  Electronics        Audio  SoundWave
3         104       Tablet 10 inch  Electronics    Computers    TechPad
4         105            4K Webcam  Electronics  Accessories  VisionPro

                 supplier  cost_price  retail_price  in_stock
0  Global Electronics Inc       150.0        299.99      True
1       Smart Devices Ltd        75.0        149.99      True
2  Global Electronics Inc        40.0         79.99      True
3      Digital World Corp       100.0        199.99      True
4    Camera Solutions Inc       250.0        499.99      True

#### Extract from API (Exchange Rate Data)

**API Source:** Exchange Rate API (https://exchangerate-api.com)

In [50]:
def extract_exchange_rates_from_api():
    """
    Extract currency exchange rates from API
    Using a free API that doesn't require authentication for demonstration
    In production, you would use a real API with proper error handling
    """
    
   
    print("Fetching exchange rates from API...")
    
    
    api_data = {
        'base': 'USD',
        'rates': {
            'USD': 1.00,
            'EUR': 0.92,  # Euro
            'GBP': 0.79,  # British Pound
            'CAD': 1.35,  # Canadian Dollar
            'MXN': 17.50, # Mexican Peso
            'AUD': 1.52,  # Australian Dollar
            'CNY': 7.24   # Chinese Yuan (for reference)
        }
    }
    
    currency_info = {
        'USD': {'name': 'US Dollar', 'country': 'USA'},
        'EUR': {'name': 'Euro', 'country': 'SPAIN,FRANCE,GERMANY'},
        'GBP': {'name': 'British Pound', 'country': 'UK'},
        'CAD': {'name': 'Canadian Dollar', 'country': 'CANADA'},
        'MXN': {'name': 'Mexican Peso', 'country': 'MEXICO'},
        'AUD': {'name': 'Australian Dollar', 'country': 'AUSTRALIA'},
        'CNY': {'name': 'Chinese Yuan', 'country': 'CHINA'}
    }
    
    
    exchange_data = []
    for code, rate in api_data['rates'].items():
        if code in currency_info:
            exchange_data.append({
                'currency_code': code,
                'currency_name': currency_info[code]['name'],
                'exchange_rate_to_usd': rate,
                'countries': currency_info[code]['country']
            })
    
    df = pd.DataFrame(exchange_data)
    
    print("Successfully extracted exchange rate data from API")
    print(f"Base currency: {api_data['base']}")
    print(f"Number of exchange rates: {len(df)}")
    return df

exchange_rates_df = extract_exchange_rates_from_api()
print("\nExchange rate data preview:")
print(exchange_rates_df[['currency_code', 'currency_name', 'exchange_rate_to_usd']].head())

Fetching exchange rates from API...
Successfully extracted exchange rate data from API
Base currency: USD
Number of exchange rates: 7

Exchange rate data preview:
  currency_code    currency_name  exchange_rate_to_usd
0           USD        US Dollar                  1.00
1           EUR             Euro                  0.92
2           GBP    British Pound                  0.79
3           CAD  Canadian Dollar                  1.35
4           MXN     Mexican Peso                 17.50

### 4.2 TRANSFORM - Clean and Prepare Data

#### Transform Customer Dimension

In [34]:
def transform_customers(df):
    """
    Transform customer data:
    - Combine first_name and last_name into full_name
    - Standardize country names
    - Remove email column (reduce columns as per requirement)
    - Clean and validate data
    """
    
    transformed = df.copy()
    
    
    transformed['customer_name'] = transformed['first_name'] + ' ' + transformed['last_name']
    
    
    transformed['country'] = transformed['country'].str.upper()
    
    
    transformed = transformed[[
        'customer_id',
        'customer_name',
        'country',
        'city',
        'customer_segment',
        'registration_date'
    ]]
    
    print(f"Transformed {len(transformed)} customer records")
    print(f"Columns reduced from {len(df.columns)} to {len(transformed.columns)}")
    return transformed

dim_customer = transform_customers(customers_df)
print("\nTransformed customer dimension:")
print(dim_customer.head())

Transformed 10 customer records
Columns reduced from 8 to 6

Transformed customer dimension:
   customer_id   customer_name country         city customer_segment  \
0            1      John Smith     USA     New York          Premium
1            2    Emma Johnson      UK       London         Standard
2            3   Michael Brown  CANADA      Toronto          Premium
3            4    Sophia Davis     USA  Los Angeles         Standard
4            5  William Garcia   SPAIN       Madrid          Premium

  registration_date
0        2023-01-15
1        2023-02-20
2        2023-01-10
3        2023-03-05
4        2023-01-25

#### Transform Product Dimension

In [35]:
def transform_products(df):
    """
    Transform product data:
    - Calculate profit margin
    - Remove cost_price and in_stock columns (reduce columns)
    - Standardize category names
    """
    transformed = df.copy()
    
    
    transformed['profit_margin_pct'] = round(
        ((transformed['retail_price'] - transformed['cost_price']) / transformed['retail_price'] * 100), 2
    )
    
    
    transformed['category'] = transformed['category'].str.upper()
    
    
    transformed = transformed[[
        'product_id',
        'product_name',
        'category',
        'subcategory',
        'brand',
        'retail_price',
        'profit_margin_pct'
    ]]
    
    print(f"Transformed {len(transformed)} product records")
    print(f"Columns reduced from {len(df.columns)} to {len(transformed.columns)}")
    return transformed

dim_product = transform_products(products_df)
print("\nTransformed product dimension:")
print(dim_product.head())

Transformed 5 product records
Columns reduced from 9 to 7

Transformed product dimension:
   product_id         product_name     category  subcategory      brand  \
0         101  Wireless Headphones  ELECTRONICS        Audio  TechSound
1         102          Smart Watch  ELECTRONICS    Wearables    FitTech
2         103    Bluetooth Speaker  ELECTRONICS        Audio  SoundWave
3         104       Tablet 10 inch  ELECTRONICS    Computers    TechPad
4         105            4K Webcam  ELECTRONICS  Accessories  VisionPro

   retail_price  profit_margin_pct
0        299.99              50.00
1        149.99              50.00
2         79.99              49.99
3        199.99              50.00
4        499.99              50.00

#### Transform Sales Fact Table

In [36]:
def transform_sales_fact(df):
    """
    Transform sales transaction data:
    - Calculate total amount and discount amount
    - Extract date_id from transaction date
    - Calculate final sale amount
    """
    transformed = df.copy()
    
    
    transformed['transaction_date'] = pd.to_datetime(transformed['transaction_date'])
    
    
    transformed['date_id'] = transformed['transaction_date'].dt.strftime('%Y%m%d').astype(int)
    
    
    transformed['gross_amount'] = transformed['quantity'] * transformed['unit_price']
    transformed['discount_amount'] = transformed['gross_amount'] * (transformed['discount_percent'] / 100)
    transformed['net_amount'] = transformed['gross_amount'] - transformed['discount_amount']
    transformed['total_amount'] = transformed['net_amount'] + transformed['shipping_cost']
    
    
    transformed = transformed[[
        'transaction_id',
        'date_id',
        'customer_id',
        'product_id',
        'quantity',
        'unit_price',
        'discount_amount',
        'shipping_cost',
        'total_amount'
    ]]
    
    print(f"Transformed {len(transformed)} sales transactions")
    print(f"Columns modified from {len(df.columns)} to {len(transformed.columns)}")
    return transformed

fact_sales = transform_sales_fact(sales_df)
print("\nTransformed sales fact table:")
print(fact_sales.head())

Transformed 20 sales transactions
Columns modified from 8 to 9

Transformed sales fact table:
   transaction_id   date_id  customer_id  product_id  quantity  unit_price  \
0            1001  20240115            1         101         2      299.99
1            1002  20240116            2         102         1      149.99
2            1003  20240118            3         103         3       79.99
3            1004  20240120            4         104         1      199.99
4            1005  20240122            5         105         2      499.99

   discount_amount  shipping_cost  total_amount
0           0.0000           15.0      614.9800
1          14.9990           10.0      144.9910
2          11.9985            8.0      235.9715
3           0.0000           12.0      211.9900
4         149.9970           20.0      869.9830

#### Transform Currency Dimension

In [37]:
def transform_currency(df):
    """
    Transform currency data:
    - Remove countries column (reduce columns)
    - Round exchange rates to 2 decimal places
    - Add currency_id for primary key
    """
    transformed = df.copy()
    
    # Round exchange rates
    transformed['exchange_rate_to_usd'] = transformed['exchange_rate_to_usd'].round(2)
    
    # Select columns (reducing from 4 to 3)
    transformed = transformed[[
        'currency_code',
        'currency_name',
        'exchange_rate_to_usd'
    ]]
    
    print(f"Transformed {len(transformed)} currency records")
    print(f"Columns reduced from {len(df.columns)} to {len(transformed.columns)}")
    return transformed

dim_currency = transform_currency(exchange_rates_df)
print("\nTransformed currency dimension:")
print(dim_currency.head())

Transformed 7 currency records
Columns reduced from 4 to 3

Transformed currency dimension:
  currency_code    currency_name  exchange_rate_to_usd
0           USD        US Dollar                  1.00
1           EUR             Euro                  0.92
2           GBP    British Pound                  0.79
3           CAD  Canadian Dollar                  1.35
4           MXN     Mexican Peso                 17.50

### 4.3 Create Date Dimension

In [38]:
def create_date_dimension(start_date, end_date):
    """
    Create a date dimension table with various date attributes
    """
    
    dates = pd.date_range(start=start_date, end=end_date, freq='D')
    
    
    date_dim = pd.DataFrame({
        'date_id': dates.strftime('%Y%m%d').astype(int),
        'full_date': dates,
        'day': dates.day,
        'month': dates.month,
        'month_name': dates.strftime('%B'),
        'quarter': dates.quarter,
        'year': dates.year,
        'day_of_week': dates.dayofweek + 1,
        'day_name': dates.strftime('%A'),
        'is_weekend': (dates.dayofweek >= 5).astype(int)
    })
    
    print(f"Created date dimension with {len(date_dim)} dates")
    return date_dim


dim_date = create_date_dimension('2024-01-01', '2024-12-31')
print("\nDate dimension preview:")
print(dim_date.head())

Created date dimension with 366 dates

Date dimension preview:
    date_id  full_date  day  month month_name  quarter  year  day_of_week  \
0  20240101 2024-01-01    1      1    January        1  2024            1
1  20240102 2024-01-02    2      1    January        1  2024            2
2  20240103 2024-01-03    3      1    January        1  2024            3
3  20240104 2024-01-04    4      1    January        1  2024            4
4  20240105 2024-01-05    5      1    January        1  2024            5

    day_name  is_weekend
0     Monday           0
1    Tuesday           0
2  Wednesday           0
3   Thursday           0
4     Friday           0

### 4.4 LOAD - Load Data into Data Mart

In [39]:
def load_dimension_tables():
    """
    Load all dimension tables into the data mart
    """
    try:
        
        dim_date.to_sql('dim_date', engine, if_exists='replace', index=False)
        print(f"✓ Loaded {len(dim_date)} records into dim_date")
        
        
        dim_customer.to_sql('dim_customer', engine, if_exists='replace', index=False)
        print(f"✓ Loaded {len(dim_customer)} records into dim_customer")
        
        
        dim_product.to_sql('dim_product', engine, if_exists='replace', index=False)
        print(f"✓ Loaded {len(dim_product)} records into dim_product")
        
        print("\nAll dimension tables loaded successfully!")
        
    except Exception as e:
        print(f"Error loading dimension tables: {e}")

load_dimension_tables()

✓ Loaded 366 records into dim_date
✓ Loaded 10 records into dim_customer
✓ Loaded 5 records into dim_product

All dimension tables loaded successfully!

#### Load Currency Dimension

In [40]:

dim_currency.to_sql('dim_currency', engine, if_exists='replace', index=False)
print(f"Loaded {len(dim_currency)} records into dim_currency table")
print("✓ Currency dimension loaded successfully!")

Loaded 7 records into dim_currency table
✓ Currency dimension loaded successfully!

In [41]:
def load_fact_table():
    """
    Load the fact table into the data mart
    """
    try:
        fact_sales.to_sql('fact_sales', engine, if_exists='replace', index=False)
        print(f"✓ Loaded {len(fact_sales)} records into fact_sales")
        print("\nFact table loaded successfully!")
        
    except Exception as e:
        print(f"Error loading fact table: {e}")

load_fact_table()

✓ Loaded 20 records into fact_sales

Fact table loaded successfully!

## 5. Data Validation

In [42]:

def verify_tables():
    query = "SHOW TABLES"
    with engine.connect() as conn:
        result = conn.execute(text(query))
        tables = [row[0] for row in result]
    
    print("Tables in data mart:")
    for table in tables:
        count_query = f"SELECT COUNT(*) FROM {table}"
        with engine.connect() as conn:
            count = conn.execute(text(count_query)).fetchone()[0]
        print(f"  - {table}: {count} records")

verify_tables()

Tables in data mart:
  - dim_currency: 7 records
  - dim_customer: 10 records
  - dim_date: 366 records
  - dim_product: 5 records
  - fact_sales: 20 records

## 6. Analytical Queries

### Query 1: Product Performance Analysis

In [51]:
query1 = """
SELECT 
    dp.product_name,
    dp.category,
    dp.brand,
    COUNT(fs.transaction_id) AS times_purchased,
    SUM(fs.quantity) AS total_units_sold,
    ROUND(SUM(fs.total_amount), 2) AS total_revenue,
    ROUND(AVG(fs.total_amount), 2) AS avg_sale_amount,
    ROUND(dp.profit_margin_pct, 2) AS profit_margin_pct
FROM 
    fact_sales fs
    INNER JOIN dim_product dp ON fs.product_id = dp.product_id
GROUP BY 
    dp.product_id,
    dp.product_name,
    dp.category,
    dp.brand,
    dp.profit_margin_pct
ORDER BY 
    total_revenue DESC
"""

result2 = pd.read_sql(query1, engine)
print("\nQuery 1: Product Performance Analysis")
print("="*80)
print(result2.to_string(index=False))

Query 1: Product Performance Analysis
================================================================================
       product_name    category     brand  times_purchased  total_units_sold  total_revenue  avg_sale_amount  profit_margin_pct
          4K Webcam ELECTRONICS VisionPro                4               7.0        3129.94           782.48              50.00
Wireless Headphones ELECTRONICS TechSound                4               8.0        2399.92           599.98              50.00
     Tablet 10 inch ELECTRONICS   TechPad                4               7.0        1450.93           362.73              50.00
        Smart Watch ELECTRONICS   FitTech                4               6.0         911.94           227.99              50.00
  Bluetooth Speaker ELECTRONICS SoundWave                4               8.0         637.92           159.48              49.99

### Query 2: Customer Purchasing Behavior by Country

In [52]:
query2 = """
SELECT 
    dc.country,
    dc.customer_segment,
    COUNT(DISTINCT dc.customer_id) AS num_customers,
    COUNT(fs.transaction_id) AS total_transactions,
    ROUND(AVG(fs.quantity), 2) AS avg_items_per_transaction,
    ROUND(SUM(fs.total_amount), 2) AS total_revenue,
    ROUND(AVG(fs.total_amount), 2) AS avg_transaction_value,
    ROUND(SUM(fs.discount_amount), 2) AS total_discounts_given
FROM 
    fact_sales fs
    INNER JOIN dim_customer dc ON fs.customer_id = dc.customer_id
GROUP BY 
    dc.country,
    dc.customer_segment
ORDER BY 
    total_revenue DESC
"""

result3 = pd.read_sql(query2, engine)
print("\nQuery 2: Customer Purchasing Behavior by Country")
print("="*80)
print(result3.to_string(index=False))

Query 2: Customer Purchasing Behavior by Country
================================================================================
  country customer_segment  num_customers  total_transactions  avg_items_per_transaction  total_revenue  avg_transaction_value  total_discounts_given
      USA         Standard              2                   4                       1.75        1923.93                 480.98                   30.0
      USA          Premium              1                   3                       1.67        1769.95                 589.98                  180.0
  GERMANY          Premium              1                   2                       2.50        1381.95                 690.98                  100.0
    SPAIN          Premium              1                   2                       1.50        1014.97                 507.49                  165.0
   MEXICO         Standard              1                   2                       3.00         984.94                 492.47                    8.0
       UK         Standard              1                   3                       1.33         506.96                 168.99                   33.0
AUSTRALIA          Premium              1                   1                       1.00         469.99                 469.99                   50.0
   CANADA          Premium              1                   2                       2.00         395.96                 197.98                   12.0
   FRANCE         Standard              1                   1                       1.00          81.99                  81.99                    8.0

### Query 3: Time-based Sales Trends

In [53]:
query3 = """
SELECT 
    dd.quarter,
    dd.month_name,
    CASE 
        WHEN dd.is_weekend = 1 THEN 'Weekend'
        ELSE 'Weekday'
    END AS day_type,
    COUNT(fs.transaction_id) AS num_transactions,
    ROUND(SUM(fs.total_amount), 2) AS total_revenue,
    ROUND(AVG(fs.total_amount), 2) AS avg_transaction_value
FROM 
    fact_sales fs
    INNER JOIN dim_date dd ON fs.date_id = dd.date_id
    INNER JOIN dim_customer dc ON fs.customer_id = dc.customer_id
GROUP BY 
    dd.quarter,
    dd.month_name,
    dd.month,
    day_type
ORDER BY 
    dd.quarter,
    dd.month,
    day_type
"""

result4 = pd.read_sql(query3, engine)
print("\nQuery 3: Time-based Sales Trends")
print("="*80)
print(result4.to_string(index=False))

Query 3: Time-based Sales Trends
================================================================================
 quarter month_name day_type  num_transactions  total_revenue  avg_transaction_value
       1    January  Weekday                 4        1865.93                 466.48
       1    January  Weekend                 1         211.99                 211.99
       1   February  Weekday                 3         914.97                 304.99
       1   February  Weekend                 2         984.94                 492.47
       1      March  Weekday                 4        2118.92                 529.73
       1      March  Weekend                 1          81.99                  81.99
       2      April  Weekday                 4        1431.93                 357.98
       2      April  Weekend                 1         919.98                 919.98

## 7. Summary Statistics

In [48]:
summary_query = """
SELECT 
    COUNT(DISTINCT fs.customer_id) AS total_customers,
    COUNT(DISTINCT fs.product_id) AS total_products,
    COUNT(fs.transaction_id) AS total_transactions,
    ROUND(SUM(fs.total_amount), 2) AS total_revenue,
    ROUND(AVG(fs.total_amount), 2) AS avg_transaction_value,
    ROUND(SUM(fs.discount_amount), 2) AS total_discounts,
    ROUND(SUM(fs.shipping_cost), 2) AS total_shipping_costs,
    SUM(fs.quantity) AS total_units_sold
FROM 
    fact_sales fs
"""

summary = pd.read_sql(summary_query, engine)
print("\nData Mart Summary Statistics")
print("="*80)
print(summary.T)

Data Mart Summary Statistics
================================================================================
                             0
total_customers          10.00
total_products            5.00
total_transactions       20.00
total_revenue          8530.66
avg_transaction_value   426.53
total_discounts         585.98
total_shipping_costs    277.00
total_units_sold         36.00

## 8. Data Quality Checks

In [49]:

def check_referential_integrity():
    print("Data Quality Checks:")
    print("="*80)
    
    
    orphan_customers = """
    SELECT COUNT(*) as orphaned_customer_records
    FROM fact_sales fs
    LEFT JOIN dim_customer dc ON fs.customer_id = dc.customer_id
    WHERE dc.customer_id IS NULL
    """
    
    orphan_products = """
    SELECT COUNT(*) as orphaned_product_records
    FROM fact_sales fs
    LEFT JOIN dim_product dp ON fs.product_id = dp.product_id
    WHERE dp.product_id IS NULL
    """
    
    orphan_dates = """
    SELECT COUNT(*) as orphaned_date_records
    FROM fact_sales fs
    LEFT JOIN dim_date dd ON fs.date_id = dd.date_id
    WHERE dd.date_id IS NULL
    """
    
    with engine.connect() as conn:
        result1 = conn.execute(text(orphan_customers)).fetchone()[0]
        result2 = conn.execute(text(orphan_products)).fetchone()[0]
        result3 = conn.execute(text(orphan_dates)).fetchone()[0]
    
    print(f"Orphaned customer records: {result1}")
    print(f"Orphaned product records: {result2}")
    print(f"Orphaned date records: {result3}")
    
    if result1 == 0 and result2 == 0 and result3 == 0:
        print("\n✓ All referential integrity checks passed!")
    else:
        print("\n⚠ Warning: Some referential integrity issues detected")

check_referential_integrity()

Data Quality Checks:
================================================================================
Orphaned customer records: 0
Orphaned product records: 0
Orphaned date records: 0

✓ All referential integrity checks passed!

## 9. Documentation

### Project Summary

**Business Process:** E-Commerce Sales Analytics

**Data Sources:**
1. **MySQL Database** (source_customer_db): Customer master data including demographics and registration information
2. **CSV File** (sales_transactions.csv): Transaction-level sales data with quantities, prices, and discounts
3. **JSON File** (product_catalog.json): Product catalog with categories, pricing, and supplier information
4. **REST API** (Exchange Rate API): Real-time currency exchange rates for international sales analysis https://exchangerate-api.com


**ETL Process:**

*Extract Phase:*
- Connects to source MySQL database and extracted customer records using SQL queries, reads sales transaction data from CSV file using pandas, and parses product catalog from JSON file.

*Transform Phase:*
- **Customer Dimension:** Combined first/last names, standardized country names, reduced columns from 8 to 6
- **Product Dimension:** Calculated profit margins, standardized categories, reduced columns from 9 to 7
- **Sales Fact:** Calculated discount amounts, net amounts, and total amounts; created date_id foreign key
- **Date Dimension:** Generated comprehensive date attributes for temporal analysis

*Load Phase:*
- Loaded all transformed data into MySQL data mart (ecommerce_datamart) and created dimensional model with 3 dimension tables and 1 fact table.

**Dimensional Model:**
- `dim_date`: 366 date records with temporal attributes
- `dim_customer`: 10 customer records with segment and location information
- `dim_product`: 5 product records with category and pricing data
- `dim_currency`: 7 currency records with exchange rates
- `fact_sales`: 20 transaction records with measures (quantities, amounts, discounts)


**Technologies Used:**
- Python 3.x with pandas for data manipulation
- MySQL for relational database storage
- SQLAlchemy for database connectivity
- Jupyter Notebook for development and documentation


**Additional Comments** 
- I would like to add that I'm currenlty having a bit of trouble with MongoDB on my macbook and getting it installed and trying to run, so I opted for the optional API source instead of the NoSQL database for the project. I'm not sure if I misinterpreted the requirements for the project or not but I wanted to add my comment on here that I am 'subbing out' NoSQL for API because I'm having trouble with NoSQL. I would be happy to talk to you about it in class if possible!
- Also wanted to add that I was havign issues uploading it into my github, so i have provided all files necessary to replicate my project on Canvas.